/* .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.canvas {
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 44px;
    transform: translateX(-50%);
}

.play_control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress {
    position: absolute;
    bottom: 30px;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    height: 20px;
    overflow: hidden;
    border: solid 3px #DFD7DC;
}

.progress .percent {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    display: inline-block;
    background-color: #DFD7DC;
} */
