.container {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mask {
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.titleBase {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}

.titleImgBack {
    composes: titleBase;
    color: white;
}

.titleBlankBack {
    composes: titleBase;
    color: #000;
}

.subtitleBase {
    text-align: center;
    font-size: 14px;
    padding: 20px 15%;
}

.subtitleImgBack {
    composes: subtitleBase;
    color: white;
}

.subtitleBlankBack {
    composes: subtitleBase;
    color: #000;
}

.container .childrenImgBack {
    padding: 10px 5%;
    color: white;
}

.container .childrenBlankBack {
    padding: 10px 5%;
    color: #000;
}