.minimal {
  position: relative;
  padding: 10px 0px;
  margin: 0px 16px;
  color: #969696;
  cursor: pointer;
  letter-spacing: 2px;
  display: inline-block;
  white-space: nowrap;
  transition: color .5s;
}

.minimal .underline {
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  transition: all .5s;
}

.minimal:hover .underline {
  width: 100%;
  left: 0%;
}

.minimal:hover {
  color: #000;
}

.rounded {
  display: inline-block;
  position: relative;
  padding: 0 24px 0 24px;
  height: 36px;
  background-color: #e8ecee;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all .5s;
}

.rounded .leftLine {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: all .5s;

}

.rounded:hover .leftLine {
  width: 20px;
}

.rounded:hover {
  color: white;
  background-color: #000;
  padding: 0 20px 0 50px;
}

.articleImg {
  position: relative;
  width: 428px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.articleImg .hoverMask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.0);
  transition: all .5s;
}

.articleImg:hover .hoverMask {
  background-color: rgba(0, 0, 0, 0.4);
}

.articleImg:hover img {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.articleImg img {
  width: 100%;
  height: 100%;

  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  transition: all .5s;
}

.articleImg .topLayer {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  text-align: center;
  color: transparent;
  line-height: 250px;
  letter-spacing: 2px;
  transition: all .5s;
}

.articleImg:hover .topLayer {
  line-height: 300px;
  color: white;
}

.articleImg .hLine {
  position: absolute;
  right: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #84827D;
  transition: all .3s;
}

.articleImg .vLine {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 1px;
  height: 0%;
  background-color: #84827D;
  transition: all .3s;
}

.articleImg .cLine {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: all .3s;
}

.articleImg:hover .vLine {
  height: 100%;
  top: 0%;
}

.articleImg:hover .hLine {
  width: 100%;
  left: 0%
}

.articleImg:hover .cLine {
  width: 10%;
  left: 45%;
}

.drawer {
  position: relative;
  width: 280px;
  height: 280px;
  letter-spacing: 2px;
}

.drawer .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(255, 255, 255, 0.1);
  transition: all .3s;
}

.drawer:hover .icon {
  top: -40px;
  bottom: 40px;
}

.drawer .info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;
  cursor: pointer;
}