.container {
    position: relative;
    height: 40px;
    width: 40%;
    min-width: 400px;
    color: white;
    margin: 20px 0;
    display: inline-block;
}


.container .percentage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.container .percentage .bar {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
}

.container .percentage .title {
    font-size: 16px;
    font-weight: 400;
    float: left;
}

.container .value {
    position: absolute;
    top: 5px;
    font-size: 14px;
    white-space: nowrap; 
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .fullbar {
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
}