.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.canvas {
    /* width: 300; */
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.play_control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
