.home {
  /*height: 100%;*/
  /* top: 0; */
}
.home_header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #E9ECEE;
  z-index: 999;
}

.navlogo {
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0px 5%;
  vertical-align: top;
  line-height: 90px;
  font-size: 30px;
}

.navlogo::after {
  content: "log";
}

.navbar {
  display: inline-flex;
  height: 100%;
  width: 60%;
  padding: 0px 5%;
  align-items: center;
}

.home_body {
  padding-top: 90px;
}

.post {
  width: 100%;
  z-index: 1;
  position: relative;
}

.post img {
  width: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 800px;
  z-index: 3;
  background-color: red;
}
