.home {
  /*height: 100%;*/
  /* top: 0; */
}
.home_header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #E9ECEE;
  z-index: 999;
}

.navlogo {
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0px 5%;
  vertical-align: top;
  line-height: 90px;
  font-size: 30px;
}

.navlogo::after {
  content: "log";
}

.navbar {
  display: inline-flex;
  height: 100%;
  width: 60%;
  padding: 0px 5%;
  align-items: center;
}


.poster {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background: url("../../assets/images/astronaut.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.poster .mask {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4); */
}

.home_body {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.home_body .content {
  z-index: 3;
  background-color: white;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 28px 50px 28px;
}

.home_body .skillmap {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home_body .contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.home_body .footer {
  background-color: #000;
  text-align: center;
}

.footer .copyright {
  padding: 20px 0;
  text-align: center;
  color: #969696;
}