.home {
  text-align: center;
}

.home_logo {
  animation: home_logo_spin infinite 20s linear;
  height: 80px;
}

.home_header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home_intro {
  font-size: large;
}

@keyframes home_logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
