/* ACT AS GLOBAL CSS, ALSO AS ENTRY FILE`CSS  */
/* WON`T BE LOAD AS CSS-MODULES */

@font-face {
  font-family: "Fira Sans Light";
  src: url('./assets/fonts/FiraSans-Light.ttf');
}

html {
  background-color: white;
  font-family: "Fira Sans Light";
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

/* TODO: THIS IS UGLY */
@media screen and (max-width:1024px) {
  .home_header {
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #E9ECEE;
    z-index: 999;
  }

  .home_header .navlogo {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 0px 24px;
    vertical-align: top;
    line-height: 56px;
    font-size: 24px;
  }

  .home_header .navbar {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #E9ECEE;
    justify-content: flex-start;
    padding: 0 12px;
  }

  .home_header .navToggle {
    display: inline-block;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 3%;
    top: 0;
    cursor: pointer;
  }

  .home_header .navToggle .bar {
    display: block;
    position: absolute;
    top: 25px;
    right: 13px;
    left: 13px;
    height: 5px;
    background-color: #9a9c9e;
  }

  .home_header .navToggle .bar::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #9a9c9e;
  }

  .home_header .navToggle .bar::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    height: 5px;
    background-color: #9a9c9e;
  }

  .container {
    padding-top: 56px;
  }
}

@media screen and (min-width:1025px) {
  .home_header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #E9ECEE;
    z-index: 999;
  }

  .home_header .navlogo {
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 0px 24px;
    vertical-align: top;
    line-height: 90px;
    font-size: 30px;
  }

  .home_header .navbar {
    display: inline-flex;
    height: 100%;
    width: 65%;
    align-items: center;
    overflow: hidden;
    justify-content: flex-end;
  }

  .home_header .navToggle {
    /* display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #9a9c9e; */
    display: none;
  }

  .container {
    padding-top: 90px;
  }
}

.home_header .navlogo::after {
  content: "log";
}

.footer {
  background-color: #000;
  text-align: center;
}

.footer .copyright {
  padding: 20px 0;
  text-align: center;
  color: #969696;
}

.font-45 {
  font-size: 45px;
}

/* github markdown */
.markdownBody {
  font-size: 14px;
  line-height: 1.6;
}
.markdownBody > *:first-child {
  margin-top: 0 !important;
}
.markdownBody > *:last-child {
  margin-bottom: 0 !important;
}
.markdownBody a.absent {
  color: #CC0000;
}
.markdownBody a.anchor {
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  margin-left: -30px;
  padding-left: 30px;
  position: absolute;
  top: 0;
}
.markdownBody h1, .markdownBody h2, .markdownBody h3, .markdownBody h4, .markdownBody h5, .markdownBody h6 {
  cursor: text;
  font-weight: bold;
  margin: 20px 0 10px;
  padding: 0;
  position: relative;
}
.markdownBody h1 .mini-icon-link, .markdownBody h2 .mini-icon-link, .markdownBody h3 .mini-icon-link, .markdownBody h4 .mini-icon-link, .markdownBody h5 .mini-icon-link, .markdownBody h6 .mini-icon-link {
  color: #000000;
  display: none;
}
.markdownBody h1:hover a.anchor, .markdownBody h2:hover a.anchor, .markdownBody h3:hover a.anchor, .markdownBody h4:hover a.anchor, .markdownBody h5:hover a.anchor, .markdownBody h6:hover a.anchor {
  line-height: 1;
  margin-left: -22px;
  padding-left: 0;
  text-decoration: none;
  top: 15%;
}
.markdownBody h1:hover a.anchor .mini-icon-link, .markdownBody h2:hover a.anchor .mini-icon-link, .markdownBody h3:hover a.anchor .mini-icon-link, .markdownBody h4:hover a.anchor .mini-icon-link, .markdownBody h5:hover a.anchor .mini-icon-link, .markdownBody h6:hover a.anchor .mini-icon-link {
  display: inline-block;
}
.markdownBody h1 tt, .markdownBody h1 code, .markdownBody h2 tt, .markdownBody h2 code, .markdownBody h3 tt, .markdownBody h3 code, .markdownBody h4 tt, .markdownBody h4 code, .markdownBody h5 tt, .markdownBody h5 code, .markdownBody h6 tt, .markdownBody h6 code {
  font-size: inherit;
}
.markdownBody h1 {
  color: #000000;
  font-size: 28px;
}
.markdownBody h2 {
  border-bottom: 1px solid #CCCCCC;
  color: #000000;
  font-size: 24px;
}
.markdownBody h3 {
  font-size: 18px;
}
.markdownBody h4 {
  font-size: 16px;
}
.markdownBody h5 {
  font-size: 14px;
}
.markdownBody h6 {
  color: #777777;
  font-size: 14px;
}
.markdownBody p, .markdownBody blockquote, .markdownBody ul, .markdownBody ol, .markdownBody dl, .markdownBody table, .markdownBody pre {
  margin: 15px 0;
}
.markdownBody hr {
  background: url("https://a248.e.akamai.net/assets.github.com/assets/primer/markdown/dirty-shade-350cca8f57223ebd53603021b2e670f4f319f1b7.png") repeat-x scroll 0 0 transparent;
  border: 0 none;
  color: #CCCCCC;
  height: 4px;
  padding: 0;
}
.markdownBody > h2:first-child, .markdownBody > h1:first-child, .markdownBody > h1:first-child + h2, .markdownBody > h3:first-child, .markdownBody > h4:first-child, .markdownBody > h5:first-child, .markdownBody > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.markdownBody a:first-child h1, .markdownBody a:first-child h2, .markdownBody a:first-child h3, .markdownBody a:first-child h4, .markdownBody a:first-child h5, .markdownBody a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.markdownBody h1 + p, .markdownBody h2 + p, .markdownBody h3 + p, .markdownBody h4 + p, .markdownBody h5 + p, .markdownBody h6 + p {
  margin-top: 0;
}
.markdownBody li p.first {
  display: inline-block;
}
.markdownBody ul, .markdownBody ol {
  padding-left: 30px;
}
.markdownBody ul.no-list, .markdownBody ol.no-list {
  list-style-type: none;
  padding: 0;
}
.markdownBody ul li > *:first-child, .markdownBody ol li > *:first-child {
  margin-top: 0;
}
.markdownBody ul ul, .markdownBody ul ol, .markdownBody ol ol, .markdownBody ol ul {
  margin-bottom: 0;
}
.markdownBody dl {
  padding: 0;
}
.markdownBody dl dt {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  margin: 15px 0 5px;
  padding: 0;
}
.markdownBody dl dt:first-child {
  padding: 0;
}
.markdownBody dl dt > *:first-child {
  margin-top: 0;
}
.markdownBody dl dt > *:last-child {
  margin-bottom: 0;
}
.markdownBody dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.markdownBody dl dd > *:first-child {
  margin-top: 0;
}
.markdownBody dl dd > *:last-child {
  margin-bottom: 0;
}
.markdownBody blockquote {
  border-left: 4px solid #DDDDDD;
  color: #777777;
  padding: 0 15px;
}
.markdownBody blockquote > *:first-child {
  margin-top: 0;
}
.markdownBody blockquote > *:last-child {
  margin-bottom: 0;
}
.markdownBody table th {
  font-weight: bold;
}
.markdownBody table th, .markdownBody table td {
  border: 1px solid #CCCCCC;
  padding: 6px 13px;
}
.markdownBody table tr {
  background-color: #FFFFFF;
  border-top: 1px solid #CCCCCC;
}
.markdownBody table tr:nth-child(2n) {
  background-color: #F8F8F8;
}
.markdownBody img {
  max-width: 100%;
}
.markdownBody span.frame {
  display: block;
  overflow: hidden;
}
.markdownBody span.frame > span {
  border: 1px solid #DDDDDD;
  display: block;
  float: left;
  margin: 13px 0 0;
  overflow: hidden;
  padding: 7px;
  width: auto;
}
.markdownBody span.frame span img {
  display: block;
  float: left;
}
.markdownBody span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}
.markdownBody span.align-center {
  clear: both;
  display: block;
  overflow: hidden;
}
.markdownBody span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.markdownBody span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.markdownBody span.align-right {
  clear: both;
  display: block;
  overflow: hidden;
}
.markdownBody span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.markdownBody span.align-right span img {
  margin: 0;
  text-align: right;
}
.markdownBody span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.markdownBody span.float-left span {
  margin: 13px 0 0;
}
.markdownBody span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.markdownBody span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.markdownBody code, .markdownBody tt {
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
  border-radius: 3px 3px 3px 3px;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
}
.markdownBody pre > code {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  padding: 0;
  white-space: pre;
}
.markdownBody .highlight pre, .markdownBody pre {
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
}
.markdownBody pre code, .markdownBody pre tt {
  background-color: transparent;
  border: medium none;
}