@font-face {
  font-family: "Fira Sans Light";
  src: url('./assets/fonts/FiraSans-Light.ttf');
}
/* global */
html {
  background-color: white;
  font-family: "Fira Sans Light";
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

.home_header {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #E9ECEE;
  z-index: 999;
}

.navlogo {
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 0px 5%;
  vertical-align: top;
  line-height: 90px;
  font-size: 30px;
}

.navlogo::after {
  content: "log";
}

.navbar {
  display: inline-flex;
  height: 100%;
  width: 60%;
  padding: 0px 5%;
  align-items: center;
}

.container {
  padding-top: 90px;
}

.font-45 {
  font-size: 45px;
}